{% extends "webpage_template.html" %}
        {% block body %}
        <!-- form container -->
        <div class="mx-auto w-full max-w-xl">

<!-- styling of form components retreived from Tailwind website @ https://v1.tailwindcss.com/components/forms with some small alterations -->

            <form action="/newplayer" method="post" class="grid gap-4 bg-white/75 shadow-md rounded px-10 pt-6 pb-8 mb-4 max-w-xl ">

                
                <h3 class="text-xl text-center font-bold">Welcome to Find Players!</h3>
                <h5 class="text-lg text-center font-semibold">Let's complete your account information and profile!</h5>

                <!-- error messages container -->
                <div class="text-red-600 font-semibold text-lg">
                    {% with messages = get_flashed_messages(category_filter=["registration"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <!-- end container -->

                <!-- name -->
                <div> 
                    <label class="block text-sm font-bold mb-2" for="name">Name</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline" id="name" name="name">
                </div>

                <!-- email -->
                <div>
                    <label class="block text-sm font-bold mb-2" for="user_email">Email</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="user_email" name="user_email">
                </div>

                <!-- password -->
                <div>
                    <label class="block text-sm font-bold mb-2" for="user_password">Password</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="user_password" name="user_password">
                </div>

                <!-- confirm pass -->
                <div>
                    <label class="block text-sm font-bold mb-2" for="confirm_pass">Confirm password</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="confirm_pass" name="confirm_pass">
                </div>

                <h5 class="text-lg text-center font-semibold">Now, tell us a little more about you!</h5>

                <!-- nickname -->
                <div>
                    <label class="block text-sm font-bold mb-2" for="nickname">Nickname</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="nickname" name="nickname">
                </div>

                <!-- ZIP code -->
                <div>
                    <label class="block text-sm font-bold mb-2" for="zip_code">ZIP Code</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="zip_code" name="zip_code">
                </div>

                <!-- favorite game -->
                <div>
                    <label class="block text-sm font-bold mb-2" for="favorite_game">Favorite game of all time?</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="favorite_game" name="favorite_game">
                </div>

                <!-- play_preference -->
                <div class="inline-block relative w-64">
                    <label class="block text-sm font-bold mb-2" for="play_preference">Preferred way to play?</label>
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline font-semibold" id="play_preference" name="play_preference">
                        <option value="none" selected class="font-semibold">
                            Please select
                        </option>
                        
                        <option value="In-person"class="font-semibold">
                            In-person
                        </option>

                        <option value="Online" class="font-semibold">
                            Online
                        </option>

                        <option value="Both in-person & online" class="font-semibold">
                            Both in-person & online
                        </option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 pt-8 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                </div>

                <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-5" type="submit" value="SUBMIT">

            </form>
        </div>
        <!-- end of form container -->
        {% endblock %}



